@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: hsl(var(--background));
    background-image: url('/images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 320 11% 85%;
        --foreground: 0 0% 23%;
        --card: 330 26% 96%;
        --card-foreground: 330 5% 15%;
        --popover: 330 26% 96%;
        --popover-foreground: 330 95% 10%;
        --primary: 330 52.6% 33.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 330 26% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 292 26% 95%;
        --muted-foreground: 330 5% 40%;
        --accent: 292 26% 90%;
        --accent-foreground: 330 5% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 330 5% 96%;
        --border: 330 26% 82%;
        --input: 330 26% 50%;
        --ring: 330 52.6% 33.9%;
        --radius: 1rem;
      
     
    }

    * {
        @apply border-border;

      
    }
    body {
        @apply bg-background text-foreground;
    }
}
