@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
    border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--secondary));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 320 11% 85%;
        --foreground: 0 0% 23%;
        --card: 330 26% 96%;
        --card-foreground: 330 5% 15%;
        --popover: 330 26% 96%;
        --popover-foreground: 330 95% 10%;
        --primary: 330 52.6% 33.9%;
        --primary-foreground: 0 0% 100%;
        --secondary: 329 60% 75%;
        --secondary-foreground: 0 0% 0%;
        --muted: 292 26% 95%;
        --muted-foreground: 330 5% 40%;
        --accent: 292 26% 90%;
        --accent-foreground: 330 5% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 330 5% 96%;
        --border: 330 26% 82%;
        --input: 330 26% 50%;
        --ring: 330 52.6% 33.9%;
        --radius: 1rem;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


.logo-scroll {
    animation: scroll 15s linear infinite;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Adjust according to the number of logos */
    }
}
